body {
    background-color: rgb(253, 255, 251);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: rgb(43, 43, 43);
    color: #fff;
}

button {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.theme-btn {
    display: flex;
    margin: 10px auto;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #280329;
    color: #fff;
    border: 1px dashed rgb(207, 108, 231);
}

body.dark-theme .theme-btn {
    background-color: rgb(233, 231, 142);
    border: 1px dashed red;
    color: grey;
}

/*Прогресс бар*/
.progress-container {
    width: 100%;
    max-width: 380px;
    min-height: 30px;
    border: 1px solid #ce690a;
    margin: 30px 0;
    padding: 5px;
}

.progress-bar {
    height: 100%;
    min-height: 30px;
    width: 0%;
    background: #ce690a;
    transition: width 0.3s ease;
}


.progress-btn {
    display: flex;
    margin: 20px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ce690a;
    color: #fff;
    border: none;
}

.reset-btn {
    background-color: #ce0a0a;
    color: #fff;
    border: none;
}

